<!DOCTYPE html>
<html>
<head>

    <title>
        {{ content.category }} for ${{ content.value }}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style media = "all">
        .spoiler, .spoiler2{
            color: black;
            background-color: black;
            font-size: 24px;
            border-color: white;
            border-width: 2px;
            border-style: dotted;
        }

        .spoiler:hover{
            color: white;
        }

        .spoiler2:hover {
            background-color:white;
        }
    </style>
</head>
<body>
<div class="navbar" role="navigation">
    <nav class="menu">
        <input type="checkbox" id="menu-trigger" class="menu-trigger" />
        <label for="menu-trigger">
      <span class="menu-icon">
      </span>
        </label>
        <a id="mode" class="menu-link">
            <span class="mdi mdi-lightbulb" style="font-size: 35px; line-height: 1;"></span>
        </a>
        <div class="trigger">
            <a class="menu-link" href="https://colindougl.as"><span class="mdi mdi-home" style="font-size: 40px; line-height: 1;"></span></a>
            <a class="menu-link active" href="/jeopardy/"><span class="mdi mdi-dice-multiple" style="font-size: 40px; line-height: 1;"></span></a>
            <a class="menu-link" href="https://www.github.com/colindouglas/jeopardy"><span class="mdi mdi-github" style="font-size: 40px; line-height: 1;"></span></a>
        </div>
    </nav>
</div>


<div class = "wrapper" style="text-align: center;">
    From <i>{{ content.round }}</i> on {{ content.date }}
    <h2>{{ content.category }}</h2>
    <b><i>... for ${{ content.value }}</i></b><p>
    {{ content.clue }}<p>
    <span class="spoiler2">{{ content.response }}</span><p>
    <small><a href=" {{ url_for('clue_lookup') }}/{{ content.q_number }}">permalink</a></small>

</div>

<script src="{{ url_for('static', filename='main.js') }}" defer="defer"></script>
</body>
</html>
